{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col align-self-start">
      <img id="home_img1" src="{{ MEDIA_URL }}home_img1.jpeg" alt="cms logo">
    </div>
    <div class="col align-self-center">
      <img src="media/cms_title.jpeg" alt="cms logo">
    </div>
    <div class="col align-self-end">
      <img id="home_img2" src="media/home_img2.jpeg" alt="cms logo">
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row font_style">
    <div class="col">
      <h2>WELCOME!</h2>
      <P>Welcome to Cardiff Magic Sociey, home to South Wales Magicians since 1921.</P>
      <p>We are a Society dedicated to the art of Magic. From spongeballs to grand stage illusions our members perform in all disciplines of the craft</p>
      <p>Professional performers, hobbyist, trick creators, magic historians, to just a very keen interest, all are welcome and present in the club</p>

    </div>
  </div>
  <div class="row font_style">
    <div class="col">
      <h2>Get in Touch!</h2>
      <P>If you would like to get in touch with someone from the society.</P>
      <p>call : 08122-203-33-54</p>
    </div>
  </div>
</div>
{% endblock%}