{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2"></div>
        <div class="row">
            {% for img in images %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <a href="">
                            <img class="card-img-top img-fluid gallery_img" src="{{ img.image.url }}" alt="club photos" width="600" height="400">
                        </a>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div>



{% endblock%}