{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-12 font_style font_look">{{ user.username }}'s Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row font_style">
            <div class="col-12 col-lg-6">
              <div>
                <a href="{% url 'order_history' %}" class="btn btn-outline-danger btn-sm font_style" tabindex="-1" role="button" aria-disabled="true">order history</a>
                <p>See previous purchases you have made and update your delivery address</p>   
              </div> 
              <br> 
              <div>
                <a href="{% url 'add_advert' %}" class="btn btn-outline-danger btn-sm font_style font_look" tabindex="-1" role="button" aria-disabled="true">add/edit advert</a>
                <p>Add/Edit your personal add on Magician's for hire</p>   
              </div>  
            </div>
            <div class="col-12 col-lg-6"> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="white-1"></div>
            </div>
        </div>
    </div>
{% endblock %}

