{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font mb-12 font_style font_look" style="text-align: center;">Magicians for Hire</h1>
            <hr>
        </div>
 </div>
 <div class="row">
    <div class="col">
        <h3 class="font_style" style="text-align: center;">Please be aware Cardiff Magic Society is not responsible for the terms or quality of hiring any of these services advertised</h3>
        <hr>
    </div>
</div>
   <div class="row">
        <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                 <td>Name</td>
                 <td>description</td>
                 <td>contact details</td>
                 <td>Web Links</td>
                </tr>                
              </thead>
              {% for advert in adverts %}
              {% if advert.Display == True %}
              <tbody>
                <tr>  
                    <td>{{ advert.user }}</td>
                    <td>{{ advert.description }}</td>
                    <td>{{ advert.phone_number }} </td> 
                    <td><a href="{{ advert.website }}">visit site</a> <a href="{{ advert.website_2 }}">visit site</a></td>
                    {% else %}
                    {% endif %}             
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
      </div>
</div>
{% endblock%}