{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font mb-12 font_style font_look" style="text-align: center;">Magicians for Hire</h1>
            <hr>
        </div>
 </div>
 <div class="row">
    <div class="col">
        <h3 class="font_style" style="text-align: center;">Please be aware Cardiff Magic Society is not responsible for the terms or quality of hiring any of these services advertised</h3>
        <hr>
    </div>
</div>
   <div class="row">
        <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                 <td>image</td>
                 <td>Name</td>
                 <td>description</td>
                 <td>contact details</td>
                </tr>                
              </thead>
              {% for advert in adverts %}
              {% if advert.Display == True %}
              <tbody>
                <tr>  
                    <td><img src="{{ advert.image }}" alt="performer image"></td>
                    <td>{{ advert.user }}</td>
                    <td>{{ advert.description }}</td>
                    <td>{{ advert.phone_number }} </td> 
                    <td>{{ advert.website }} {{ advert.user }}</td>
                    {% else %}
                    {% endif %}             
                    {% if request.user.is_superuser %}
                    <td> 
                      <small class="ml-3">
                          <a href="{% url 'edit_event' advert.id %}">Edit</a> | 
                          <a class="text-danger" href="{% url 'delete_event' advert.id %}">Delete</a>
                      </small>
                  </td>
                  {% endif %}
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
      </div>
</div>
{% endblock%}